.message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
}

.user {
    background-color: #0084ff;
    color: white;
    margin-left: auto;
    border-bottom-right-radius: 0;
}

.other {
    background-color: #e9e9eb;
    color: black;
    margin-right: auto;
    border-bottom-left-radius: 0;
}
.message.deleted {
    background-color: #444; 
    color: #fff; 
}
